@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
    --sb-thumb: #aeaeae;
    --sb-track: #efefef;
    --a: #666;
    --a-hover: #000;
}

.dark {
    --sb-thumb: #606060;
    --sb-track: #1c1c1e;
    --a: #888;
    --a-hover: #fff;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--sb-track);
}

::-webkit-scrollbar-thumb {
    background: var(--sb-thumb);
    border-radius: 999px;
}

body {
    background-color: #0a0a0a;
}

a {
    color: rgb(66, 130, 173);
}