@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
    --sb-thumb: #c8c8c8;
    --sb-track: #efefef;
    --a: #666;
    --a-hover: #000;
    --percent: #eeeeee;
}

.dark {
    --sb-thumb: #303030;
    --sb-track: #1c1c1c;
    --a: #888;
    --a-hover: #fff;
    --percent: #1c1c1c;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--sb-track);
}

::-webkit-scrollbar-thumb {
    background: var(--sb-thumb);
    border-radius: 999px;
}

html {
    background-color: transparent !important;
}

body {
    overflow: hidden;
}